asgiref
certifi
charset-normalizer
Django
django-admin-interface
django-colorfield
idna
Pillow
python-dateutil
python-decouple
python-slugify
requests
six
sqlparse
text-unidecode
typing_extensions
tzdata
ua-parser
urllib3
user-agents
whitenoise
djangorestframework
django-cors-headers
django-extensions