<!DOCTYPE html>
<html>
<head>
  <title>Bfree Password Reset Link</title>
  <style>
    fieldset {
      border: 5px solid #001F8B;
      border-radius: 8px;
    }
    .otp-btn {
      font-size: 24px;
      color: white;
      margin: 0 auto;
      text-align: center;
      background-color: #001F8B;
      padding: 10px 20px;
      border-radius: 20px;
      margin-top: 5px;
      cursor: pointer;
      border: none;
      text-decoration: none;
    }
    
    .link {
        border-radius: 50%;
        padding: 10px;
        text-decoration: none;
    }
  </style>
</head>
<body>
  <fieldset>
    <legend style="display: flex; align-items: center;">&nbsp;
      <a href="https://accounts.bfree.cards/"><img src="https://accounts.bfree.cards/static/images/logo.png" width="208px" height="69px"></a>
      &nbsp;
    </legend>
    <h2>Bfree Password Reset Link</h2>
    <p>
      Hi {{ first_name }} {{ last_name }},
    </p>
    <p>
        You requested a password reset for your account on Bfree. To reset your password, click the button below:
    </p>
    <br><br>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><p class="otp-btn"><strong>Reset Password</strong></p></a>
    <br><br>
    <p>
        If the button doesn't work, please copy and paste the following URL into your browser:
        <br><br>
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </p>
    <p>
        This link will expire in {{ token_expiry_minutes }} minutes.
    </p>
    <p>
      If you didn't request this OTP, please ignore this email.
    </p>
    <p>
      Thanks,
      <br>
      The Bfree Team.
    </p>
    <br>
  </fieldset>
</body>
</html>
