<!DOCTYPE html>
<html>
<head>
  <title> Welcome to Bfree - Your Crypto Gateway!</title>
  <style>
    body {
      font-family: 'Albert Sans', sans-serif;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid #001F8B;
    }
    h2 {
      color: #1E60AA;
    }
    p {
      margin-bottom: 10px;
    }
    .cta-button {
      display: inline-block;
      background-color: #001F8B;
      color: #ffffff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <a href="https://accounts.bfree.cards"><img src="https://accounts.bfree.cards/static/images/logo.png" width="208px" height="69px"></a>
    <h2>Ready to take control of your Cryptocurrency?</h2>
    <p>Dear {{first_name}} {{last_name}},</p>
    <p>Welcome to Bfree, your gateway to seamless money management through cryptocurrency!</p>
    <p>Here's what's in store for you:</p>
    <ul>
      <li><strong>Crypto Convenience:</strong> Easily deposit cryptocurrency, which we'll convert into USD for you.</li>
      <li><strong>Virtual Card:</strong> Create your virtual card on Bfree and add your converted USD with a few clicks.</li>
      <li><strong>Secure Transactions:</strong> Your crypto-to-USD conversions and card transactions are securely managed by us.</li>
      <li><strong>Exclusive Benefits:</strong> Unlock exclusive benefits and rewards as a Bfree user.</li>
    </ul>
    <p>Start your journey with Bfree today and experience the ease of managing your money in the digital age!</p>

    <p>Best Regards,</p>
    <p>The Bfree Team</p>
    <a href="https://accounts.bfree.cards" class="cta-button">Visit Website</a>
  </div>
</body>
</html>
