{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bfree - Token Expired</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/pre.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    body {
        font-family: 'Albert Sans', sans-serif;
    }
</style>
<body>
    <!-- header section -->
    <header class="overall_header">
        <div class="header_main">
            <div class="header_logo">
                <a href="/"><img src="{% static "images/logo.png" %}" alt="Bfree logo"></a>
            </div>
            
            <b style="position: absolute; margin-left: 250px; font-size: 25px;font-weight: 700;line-height: 24px;letter-spacing: 0.30000001192092896px;color: #001F8B;transition: 0.5s ease;">Token Expired</b>
        </div>
        <hr class="Border" />
    </header>
    <div style="display:flex; align-items: center; justify-content: center; flex-direction: column; height: 80vh;">
        <h1>CSRF Token Expired</h1>
        
        <div>
            <button onclick="location.href=location.href;" style="background-color: #001F8B; color: white; border-radius: 10px; padding: 10px; border: none;">Refresh Page</button>
        </div>
    </div>

</body>