{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bfree - Privacy Policy</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/pre.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    body {
        font-family: 'Albert Sans', sans-serif;
    }
</style>
<body>
    <!-- header section -->
    <header class="overall_header">
        <div class="header_main">
            <div class="header_logo">
                <a href="/"><img src="{% static "images/logo.png" %}" alt="Bfree logo"></a>
            </div>
            <b style="position: absolute; margin-left: 250px; font-size: 25px;font-weight: 700;line-height: 24px;letter-spacing: 0.30000001192092896px;color: #001F8B;transition: 0.5s ease;">Privacy Policy</b>
        </div>
        <hr class="Border" />
    </header>
    <div style="margin: 15px;">
        <b>Effective Date: 17/04/2022</b>
        <br>
        This Privacy Policy ("Policy") explains how Bfree ("we," "us," "our") 
        collects, uses, discloses, and protects personal information obtained 
        from users ("you," "your") of our Bfree services. This Policy applies to 
        all individuals who use our website, mobile applications, and any other 
        services we offer (collectively, the "Services").
        <br>
        <b>1. Information We Collect</b>
            We may collect the following types of personal information from you:<br>
        <b>1.1 Information You Provide:</b><br>
            - Contact information (e.g., name, email address, phone number).
            - Transaction details (e.g., transaction history, purchase information).<br>
            - Communications you have with us (e.g., emails, chat transcripts).<br>
        <b>1.2 Information We Automatically Collect:</b><br>
            - Device information (e.g., IP address, device type, browser type).
            - Usage information (e.g., pages visited, time spent on our platform).
            - Location information (if you enable location services).<br>
        <b>1.3 Information We Receive from Third Parties:</b><br>
            - Financial information from our payment processing partners.<br>
        <b>2. Use of Information</b><br>
            We may use your personal information for the following purposes:<br>
            - To provide and improve our Services.<br>
            - To verify your identity and comply with legal obligations.<br>
            - To process transactions and facilitate payments.<br>
            - To communicate with you about your account and our Services.<br>
            - To personalize your experience and provide targeted advertisements.<br>
            - To detect and prevent fraud, abuse, or other illegal activities.<br>
            - To comply with applicable laws and regulations.<br>
        <b>3. Sharing of Information</b><br>
            We may share your personal information with third parties for the 
            following purposes:<br>
            - With service providers who assist us in providing the Services.<br>
            - With financial institutions and payment processors to process
            transactions.<br>
            - With third parties for marketing and advertising purposes.<br>
            - With law enforcement agencies, regulators, or other government 
            entities when required by law or to protect our rights.<br>
            - With affiliated companies or in connection with a merger, acquisition, 
            or sale of assets.<br>
        <b>4. Security</b><br>
            We take reasonable measures to protect your personal information 
            from unauthorized access, disclosure, alteration, or destruction. 
            However, no method of transmission over the internet or electronic 
            storage is 100% secure.<br>
        <b>5. Data Retention</b><br>
            We will retain your personal information for as long as necessary to 
            fulfill the purposes outlined in this Policy or as required by law. <br>
        <b>6. Your Rights</b><br>
            You may have certain rights regarding your personal information, 
            including the right to access, correct, or delete your information. Please 
            contact us using the information provided below to exercise your 
            rights.<br>
        <b>7. Cookie Usage</b><br>
            Like many other websites, we utilize cookies to distinguish you from 
            other users and to enhance and personalize our services. Cookies 
            enable our servers to retain IP addresses, date and time of visits, 
            monitor web traffic, and prevent fraudulent activities.
            Our cookies do not store personal or sensitive information; instead, 
            they retain a unique random reference to you. This allows us to 
            recognize your identity upon revisiting the site and tailor certain 
            content to your preferences.<br>
            Should your browser or browser add-on allow it, you have the option to 
            disable cookies on our website. However, please note that this may 
            impact your user experience. Unless you choose to opt out of cookies, 
            we will assume your consent to their use.<br>
        <b>8. Age Limitation</b><br>
            Our Services are not aimed at or designed to appeal to individuals 
            under the age of 18. We do not knowingly collect Personal Information 
            from individuals under this age limit. If you are below this age limit, 
            please refrain from using the Services and refrain from providing any 
            personal data to us.<br>
            If, as a parent or guardian, you discover that your child has provided us 
            with information without your consent, please contact us using the 
            details provided in this Privacy Policy.<br>
        <b>9. Opt-Out Options</b><br>
            If you prefer not to receive offers or other notifications from us in the 
            future, you can exercise your "opt-out" right by contacting us as 
            specified at the conclusion of this Privacy Policy or by following the 
            "unsubscribe" instructions in any communication you receive from us. 
            Please note that as a User, you are unable to opt out of receiving 
            communications regarding your Grey account or associated 
            transactions with us.<br>
        <b>10. Updates to this Policy</b><br>
            We may update this Policy from time to time by posting the revised 
            version on our website or notifying you through other means. The 
            updated Policy will become effective upon posting.<br>
        <b>11. Contact Us</b><br>
            If you have any questions, concerns, or complaints about this Policy or 
            our privacy practices, please contact us via <a href="mailto:info@bfree.cards">email</a>, <a href="https://t.me/medialounget">Telegram</a> or <a href="https://join.skype.com/invite/lCBtfp6Djafv">Skype</a>.
            <br>
            By using our Services, you agree to the terms of this Privacy Policy. If 
            you do not agree with the terms of this Policy, please do not use our 
            Services.
    </div>
</body>