@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root{
    --primary-color: #001F8B;
}
body{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
}
@media screen and (min-width: 600px){
    
/* logo */
.SignIn-Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 30px;
}
.SignIn-Navbar img{
    max-width: 100%;
}
.OpenAccountBTN{
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding: 12px;
    font-size: 1.125rem;
    margin-left: 12px;
}
.Border{
    border: none; 
  height: 1px; 
  background-color: #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.OpenAccountBTN a{
    text-decoration: none;
    font-size: 1rem !important;
    color: #001F8B;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 600;
    
}
/* form css */
.FormPage{
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
    margin: 30px auto;
}
.SignUP-container{
    margin-top: 30px !important;
    margin-left: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage img{
    max-width: 90%;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
 .Sign-up{
    max-width: 536px;
}
.form-side{
    max-width: 536px;
    border: 1px solid #A6A6A6;
    padding: 20px;
    border-radius: 10px;
    
}
.resetForm{
    margin-left: 50px;
    font-weight: 400;
}
.resetForm form{
    padding: 15px;
}
.resetForm h4{
    font-weight: 700;
}
.resetForm .resetButton {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding: 0;
}
.resetForm .label span{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Albert Sans', sans-serif;

}
.resetForm .InputField input{
    color: black;
    font-weight: 400;
    font-size: 18;
}
.login-page-forms .form-1{
    padding: 15px !important;
}
.OTP-Outline{
    border: 1px solid #A6A6A6;
    
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 10px;
    margin-right: 40px;
}
.Sign-in{
    margin-bottom: 30px;
    
}
.Sign-in img{
    margin-bottom: 20px;
}
.Sign-in h1{
    font-size: 40px;
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 12px;
    font-weight: 700 !important;
}

.Sign-in h4{
    font-size: 40px;
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 30px;
}
.someText{
    font-family: 'Albert Sans', sans-serif;
    color: #A6A6A6;
    font-weight: 400;
    font-size: 18px;
}
.loginPage-signUp-btn{
    margin-left: 0 !important;
}
.InputField{
    margin-bottom: 0px;
}

.label{
    font-size: 16px;
    margin-bottom: 6px;
    font-family: 'Albert Sans', sans-serif;
    
}
.Password-Label, .Email-Label{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400 !important;
}

.Password-input{
    position: relative;
}
.InputField img{
    position: absolute;
    z-index: 100;
    transform: translate(0%, 40%);
    left: 41%;
    
}.InputField img:hover{ 
    cursor: pointer;
}
.InputField img:focus{
opacity: 0.3;
}


.InputField input{
    width: 100%;
    padding: 17px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #A6A6A6;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.form-side form{
    display: flex;
    flex-direction: column;
}
.form-side select{
    font-weight: 400;
}
.form-side input{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400 !important;
}
.forgotPasswrd{
    
    font-family: 'Albert Sans', sans-serif;
   
    color: #A6A6A6;
    margin-top: 10px;
    margin-bottom: 10px;
}
.forgotPasswrd span, a{
    font-weight: 500;
    text-decoration: none;
}
.Reset-Email-Address input, .label{
    margin-bottom: 0;
}
.Reset{
    color: #001F8B;
}
.BTN-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 45px;
    margin-top: 15px;
    height: 45px;
    background-color: #001F8B;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Albert Sans', sans-serif;
    cursor: pointer;
    
}
.BTN-div a{
    text-decoration: none;
    color: #ffff;
}

/* form css */


/* POP UP PAGE */
/* CLOSE BUTTON */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
/* CLOSE BUTTON */


.popUpLogo{
    position: fixed;
    bottom: 0;
    right: 0;
    animation: rotateChange 3s ease-in-out;
}

.popUpLogo img{
    max-width: 70%;
    height: auto;
    padding: 12px;
}

.pop-up-modal{
    max-width: 410px;
    display: none;
    flex-direction:column;
    justify-content: space-between;
    padding: 12px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 40px;
    margin: 60px;
    transition: transform 4s ease-out;
    font-family: 'Albert Sans', sans-serif;
    
}

.content-container{
    display: none;
    
}
.content-container:nth-child(1){
    display: block;
    font-family: 'Albert Sans', sans-serif;
    
}

/* .Modal-content:nth-child(0){
    display: block;
} */
/* POP up content container */
.CC-One{
    display: none;
}

/* POP up logo */
.The-popContainer{
    position: relative;
    
}
/* Modal Container */

.closeIcon{
    position: absolute;
    display: block;
    bottom: 0;
    right: 80;
    z-index: 2000;
}
.closeIcon:hover{
    cursor: pointer;
}
/* POP up logo */
.popUp-List{
    width: 378px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;

}
.popUp-List .Modal-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popUp-List .Modal-link a{
    margin-top: 4px;
    margin-right: 22px;
}
.popUp-List li{
    padding: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid #A6A6A6;
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    font-weight: 400;
}

.popUp-List li span{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    color: #3b3939 ;
    
    
}
.FAQ{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popUp-List li svg{
    margin-right:  10px;

}
.header-list{
    margin-bottom: 8px;
    border-bottom: 1px solid #A6A6A6;
    padding-top: 12px;
    padding-bottom: 15px;
    

}


.popUp-List li span{
    margin-left: .1rem;
}
.popUp-List li a:hover{
    color: blue;
}
/* .Category-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
/* POP UP PAGE II CSS */

#popUP-content{
    width: 400px;
    padding: 12px;
    background-color: #D9D9D9;
    transition: transform 0.5s ease-out;
    display: none;
 }

 .navIcons{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
 }
 .navIcons span{
    cursor: pointer;
 }
 .category-card-svg{
    padding: 0;;
 }
 .categories{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 500;
 }
.searchArea{
display: flex;
align-items: center;
max-width: 100%;
background-color: rgb(255, 255, 255);
padding:6 12px;
border-radius: 10px;
margin-bottom: 12px;
font-size: 18px;
font-weight: 500;
}
.searchArea input{
    background-color: none;
    border: none;
    outline: none;
    margin-left: 15px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}
.searchArea input::placeholder{
    font-size: 0.8rem;
}
.cats{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0;
   align-items: center;
   justify-content: space-between;
   
    
}
.cat{
    box-sizing: border-box;
    width: 90%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    flex-direction: column;
    margin-bottom: 9px;
    border-radius: 10px;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    
}
.cat span{
    padding: 5px;
    text-decoration: none;
    color: #1f1e1e;
    font-weight: 500;
}
.categories h4{
    margin-top: 12px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2d2c2c;
}
.otherCategories-list{
    margin-bottom: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.Category-security .categ-sec{
    font-weight: 500;
    max-width: 66px;
    
}
.Category-Add-Money{
    max-width: 100px !important;
    padding: 0;
}
.Add-Money-Catgory li span{
    font-size: 17px !important;
}
.Category-security li{
    padding: 8px !important;
}
.Category-security span{
    font-weight: 100;
    font-size: 16px;
}

/* 
VALIDATION PAGE DESIGN
 */
 
.Validation-Page {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sign-in2{
    max-width: 536px;
    border: 1px solid #D9D9D9;
    height: 339px;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 10px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}
.validate h6{
    font-size: 40px;
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 18px;
    font-weight: 700;
}
.validation-means{
    margin-top: 55px;
}
.sign-in-securely{
    font-family: 'Albert Sans', sans-serif;
    color: #A6A6A6;
    font-weight: 400;
    font-size: 18px;
    word-spacing: .1rem;

}

.By-Email{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.By-Email span{
    width: 293px;
}
.texts{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    

   
    
}
.texts h4{
    color: #001F8B;
    margin-left: 12px;
    font-weight: 700;
}
.texts span{
    color: #A6A6A6;
    margin-left: 12px;
    font-weight: 400;
   
}
.means{
    width: 459px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    border: 1px solid #D9D9D9;
    margin-bottom: 12px;
}
.means a svg:hover{
color: red;
}
.Sign-up-formField{
    display: flex;
    width: 100%;
}
.sign-up-1{
    padding: 0 !important;
    margin: 0 !important;
    color: black;
    font-weight: 500;
    font-family: 'Albert Sans', sans-serif;
}
.sign-up-1 .signUp-inputs{
width: 100%;
}
.sign-up-1 .signUp-inputs .input-A{
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
}
.sign-up-1 .signUp-inputs .input-A input{
    width: 100% !important;
}

 .FirstName-LastName{
    display: flex !important;
    justify-content: space-between;
    width: 100% !important;
}

.signUp-inputs{
    display: flex;
    width: 100%;
}
.Sign-up-page-email-pssword{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.Signup-email-div{
    max-width: 100% !important;

}
.passwords {
    display: flex;
    width: 100%;
    justify-content: space-between;
   

}
.passwords .input-A{
    margin: 0;
    margin-bottom: 24px;
    width: 50%;
}
/* {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    border: none;
    border-left: 1px solid black;
    padding: 12px;
    outline: none;
    margin-left: 6px;
} */


.FORM-field-Header{
    padding-left: 12px;
}
.input-A, select{
    display: flex;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    align-items: center;
    max-width: 235px;
    height: 49px;
    padding: 12px;
    margin-left: 12px;
    margin-bottom: 22px;
}
.phoneNo-Select-Country{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0!important;
    
}

.signUp-inputs input, .passwords .input-A input{
    width: 100%;
    height: 100%;
    font-size: 12px;
    border-left: 1px solid #A6A6A6;
    padding: 12px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin-left: 12px;
    outline: none;
}

.Click-to-login{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Albert Sans', sans-serif;
    margin-top: 12px;
    color: #A6A6A6;
    margin-bottom: 12px;
}
.Click-to-login span{
    font-weight: 500;
}
.Click-to-login a{
    text-decoration: none;
}

/* ONE TIME PASSWORD */
.OTP-Outline{
    max-width: 540px !important;
    padding: 40px;
}
.OTP-Confirm-Sign-in-text h1{
    font-weight: 600;
    font-size: 35px;
}
.OTP-Confirm-Sign-in-text span{
    font-weight: 300;
}
.OTP-FORM-FIELD{
    display: flex;
    position: relative;
}
.OTP-FORM-FIELD input{
    width: 57px;
    height: 49px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-align: center;
    padding: 12px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
    
    
}
.OTP-FORM-FIELD input:focus{
    outline: green;
}
.Resend-code{
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
}

}

/* Profile-form page */
.Profile-form{
    font-family: 'Albert Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 873px;
    font-weight: 500;
}
.Profile-form form{
    margin-top: 70px;
    font-family: 'Albert Sans', sans-serif;
}
.Profile-form form input{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
}

.Profile-form label{
    color: #A6A6A6;
    font-weight: 100;
}
.input-field{
    display: flex;
    justify-content: space-between;
    
   
}
.input-field input{
    width: 100% !important;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
    
}

.Names:first-child{
    margin-right: 12px;
}
.Email-input{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.Email-input img{
    position: absolute;
    transform: translate(0, 50%);
    top: 3;
    right: 2;
    max-width: 20%;
    
}


.Profile-form input{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    
    border: 1px solid #7a7a7a !important;
    border-radius: 5px;
    
}
.My-Address-contact::placeholder{
    color: black;
}

.Profile-form label{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 600 !important;
}
.Edit-Profile-text{
    margin-bottom: 24px;
    font-weight: 500 !important;
}
.Countries{
    width: 100%;
    display: flex;
    
}
.Countries .Selection select{
   
    margin-left: 0;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 500;
    border: none !important;
    outline: none !important;
}
.Select-Options{
    width: 41% !important;
}
.Select-Options select{
    padding: 0;
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 500;
    background-color: transparent;
}
.seletionDiv{
    border: 1px solid #7a7a7a !important;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.seletionDiv select{
    padding-right: 120px !important;
    margin-right: 12px;
    width: 98% !important;
}
.login_error_message{
    color: red;
    margin-top: 5px;
}
.login_error_message span{
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
    transition: all 8s ease-in-out;
}
.login-error-message.active span {
    opacity: 1;
    transform: translateX(0); /* Move the span back to its original position */
}
.countries_cities{
    display: flex;
    justify-content: space-between;
}
.countries_cities .cities{
    padding: 0;
    margin: 0;
}
.Select-Options input{
    width: 100% !important;
}
.states input{
    display: block;
    width: 75%;
}
.input-field, .Email-input, .Countries{
    margin-bottom: 40px;
}
.Countries{
    margin-top: 40px;
}

.Save-Cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    margin-bottom: 20px;
}
.Save-Cancel button{
    width: 184px;
    height: 44px;
    font-size: 14px;
    border-radius: 7px;
    font-weight: 600;
}
.Save-Cancel button:first-child{
    border: 1px solid #D9D9D9;
    background-color: #ffff;
    color: var(--primary-color);
    transition: background-color 0.3s ease;
}
.Save-Cancel button:first-child:hover{
    background-color: #ccc;
}
.Save-Cancel button:first-child:active{
    background-color: #fff;
}
.Save-Cancel button:last-child{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    color: #fff;
}
.Save-Cancel button:last-child:hover{
    background-color: #102e9e;
}



/* Desktop show only on mobile */
.mobile_view_screen_container {
    display: none;
}



/* MEDIA STYLES FOR MOBILE STARTS HERE */
@media (max-width: 900px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Albert Sans', sans-serif;
    }

    :root{
        --primary-color: #001F8B;
        --black: #000000;
        --white-color: #FFFFFF;
        --border-line-gray: #C4C4C4;
        --light-dark: #575454;
        --red-color: red;
        --secondary-color: #A6A6A6;



        /*------ transition ----*/
        --transition-200: all 200ms ease;
        --transition-300: all 300ms ease;

        /*---- border radius ----*/
        --border-radius-0-4: 0.4rem;
        --border-radius-0-6: 0.6rem;
        --border-radius-1: 1rem;
        --border-radius-5: 5rem;
        --border-radius-2: 2rem;
    }



    /* desktop view */
    .desktop_container {
        display: none;
    }

    .mobile_view_screen_container {
        display: block;
    }

    .mobile_navbar_container {
        top: 0;
        width: 100%;
        position: fixed;
        background: var(--white-color);
        border-bottom: 1px solid var( --border-line-gray);
        z-index: 10;
    }

    .mobile_navbar_container .mobile_nav {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile_nav .Open_account_box a {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--primary-color);
        border: 1px solid var(--border-line-gray);
        padding: 0.6rem;
        border-radius: var(--border-radius-0-4);
        text-decoration: none;
        transition: .3s ease;
    }

    .mobile_nav .open_account_box a:hover {
        background: var(--primary-color);
        color: var(--white-color);
    }

    .sign_in_container,
    .otp_container,
    .sign_up_container,
    .forget_password_container {
        margin-top: 7rem;
        padding-top: 2rem;
    }

    .sign_in_container .sign_in_main {
        width: 80%;
        padding: 0.8rem 0.8rem 1rem;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        margin-bottom: 1rem;
    }

    .sign_in_main .Sign-head h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 34.84px;
        letter-spacing: 0.30000001192092896px;
        color: var(--black);        
    }

    .sign_in_main .Sign-head p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
        margin-top: 0.7rem;
    }

    .sign_in_main form {
        margin-top: 2rem;
    }

    .sign_in_main .input_wrapper .input_box {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        padding: 0.8rem 0.6rem;
        margin-bottom: 0.9rem;
    }

    .sign_in_main .input_wrapper .input_box .svg_box {
        border-right: 1px solid var(--light-dark);
        padding-right: 0.4rem;
    }

    .sign_in_main .input_wrapper .input_box input {
        border: none;
        outline: none;
        width: 100%;
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 500;
    }

    .sign_in_main .input_wrapper .input_box input::placeholder,
    .sign_in_main .input_wrapper2 .input_box input::placeholder {
        font-size: 1rem;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
    }

    .sign_in_main .input_wrapper2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        padding: 0.8rem 0.6rem;
    }

    .sign_in_main .input_wrapper2 .input_box {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .sign_in_main .input_wrapper2 .input_box input {
        border: none;
        outline: none;
        width: 100%;
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 500;
    }

    .sign_in_main .input_wrapper2 .input_box .svg_box {
        border-right: 1px solid var(--light-dark);
        padding-right: 0.4rem;
    }

    .sign_in_main .input_wrapper2 .eye_box {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
    }

    .sign_in_main .input_wrapper2 .eye_box svg {
        cursor: pointer;
        transition: 0.3s ease;
    }

    .sign_in_main .input_wrapper2 .eye_box .hide_eye {
        display: none;
    }

    .sign_in_main .input_wrapper2 .eye_box .hide_eye.active,
    .sign_in_main .input_wrapper2 .eye_box .show_eye.active {
        display: inline-block;
    }

    .sign_in_main form .login_message {
        display: none;
        margin-top: 0.4rem;
    }

    .sign_in_main form .login_message p {
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--red-color);
    }
    
    .sign_in_main form .forget_p {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
        margin-top: 1.9rem;
    }

    .sign_in_main form .forget_p a {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--primary-color);
    }

    .sign_in_main form .sign_in_btn {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        background: var(--primary-color);
        color: var(--white-color);
        margin-top: 2rem;
        cursor: pointer;
        border: none;
        padding: 0.6rem 1.5rem;
        border-radius: var(--border-radius-0-4);
        transition: var(--transition-200);
    }

    .sign_in_main form .sign_in_btn:hover {
        opacity: .8;
    }



    /* Otp */
    .otp_container .otp_main .top_head h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 34.84px;
        letter-spacing: 0.30000001192092896px;
        color: var(--black);
        margin-top: 1.5rem;
    }

    .otp_container .otp_main {
        width: 80%;
        padding: 0.8rem 0.8rem 1rem;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        margin-bottom: 1.4rem;
    }

    .otp_container .otp_main .top_head p {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
        color: var(--secondary-color);
        margin-top: 0.6rem;
    }

    .otp_container .otp_main form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .otp_container .otp_main form .otp_box {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .otp_container .otp_main form .otp_box input {
        outline: none;
        width: 45px;
        height: 45px;
        text-align: center;
        border: 1px solid var(--black);
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 500;
        position: relative;
    }

    .otp_container .otp_main form .otp_box input:focus {
        border: 2px solid var(--primary-color);
    }

    .otp_container .otp_main form .link_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 1.8rem;
    }

    .otp_container .otp_main form .link_box {
        margin-top: 1.5rem;
    }

    .otp_container .otp_main form .link_box a {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
        color: var(--primary-color);
        transition: 0.3s ease;
    }

    .otp_container .otp_main form .link_box a:hover {
        text-decoration: none;
    }

    .otp_container .otp_main form .link_box button {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        background: var(--primary-color);
        color: var(--white-color);
        cursor: pointer;
        border: none;
        width: fit-content;
        padding: 0.6rem 1.5rem;
        border-radius: var(--border-radius-0-4);
        transition: var(--transition-200);
    }











    /* Sign up */
    .sign_up_container .sign_up_main {
        width: 80%;
        padding: 0.8rem 0.8rem 1rem;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        margin-bottom: 1.4rem;
    }

    .sign_up_container .sign_up_main .head h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 34.84px;
        letter-spacing: 0.30000001192092896px;
        color: var(--black);
        margin-top: 1.5rem;
    }

    .sign_up_container .sign_up_main .head p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);        
        margin-top: 0.6rem;
    }

    .sign_up_container .sign_up_main form {
        margin-top: 2rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 1rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .input_box {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        padding: 0.8rem 0.6rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .input_box .svg_box {
        border-right: 1px solid var(--light-dark);
        padding-right: 0.4rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .input_box input {
        border: none;
        outline: none;
        width: 100%;
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 500;
    }

    .sign_up_container .sign_up_main form .input_wrapper .input_box input::placeholder {
        font-size: 1rem;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
    }

    .sign_up_container .sign_up_main form .input_wrapper .p1 {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
        display: none;
    }

    .sign_up_container .sign_up_main form .input_wrapper .select_box {
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        padding: 0.7rem 0.6rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .select_box select {
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
    }

    .sign_up_container .sign_up_main form .input_wrapper .p2  {
        font-size: 1rem;
        font-weight: 400;
        line-height: 20.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--secondary-color);        
    }

    .sign_up_container .sign_up_main form .input_wrapper .p2 a {
        color: var(--primary-color);
        font-weight: 500;
        transition: 0.3s ease;
        text-decoration: none;
    }

    .sign_up_container .sign_up_main form .input_wrapper .p2 a:hover {
        text-decoration: underline;
    }

    .sign_up_container .sign_up_main form .input_wrapper .sign_up_btn {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        background: var(--primary-color);
        color: var(--white-color);
        width: fit-content;
        cursor: pointer;
        border: none;
        padding: 0.6rem 1.5rem;
        border-radius: var(--border-radius-0-4);
        transition: var(--transition-200);
    }

    .sign_up_container .sign_up_main form .input_wrapper .sign_up_btn:hover {
        opacity: .8;
    }

    .sign_up_container .sign_up_main form .input_wrapper .p3 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
    }

    .sign_up_container .sign_up_main form .input_wrapper .p3 a {
        font-weight: 700;
        color: var(--primary-color);
        text-decoration: none;
        transition: 0.3s ease;
    }

    .sign_up_container .sign_up_main form .input_wrapper .p3 a:hover {
        text-decoration: underline;
    }


    
    /*====== Reset Password ======*/
    .forget_password_container .forget_password_main {
        width: 80%;
        padding: 0.9rem 0.8rem 1rem;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        margin-bottom: 1.4rem;
    }

    .forget_password_container .forget_password_main .top_head h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 34.84px;
        letter-spacing: 0.30000001192092896px;
        color: var(--black);
    }

    .forget_password_container .forget_password_main .top_head p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);   
        margin-top: 0.5rem;     
    }

    .forget_password_container .forget_password_main form {
        margin-top: 2rem;
    }

    .forget_password_container .forget_password_main form .input_box label {
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
        color: var(--black);
        margin-bottom: 0.5rem;
    }

    .forget_password_container .forget_password_main form .input_box input {
        outline: none;
        border: 1px solid var(--border-line-gray);
        border-radius: var(--border-radius-0-4);
        padding: 0.8rem 0.6rem;
        width: 100%;
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 500;
    }

    .forget_password_container .forget_password_main form .input_box input:focus {
        outline: 1px solid var(--primary-color);
    }

    .forget_password_container .forget_password_main form .p1 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        color: var(--light-dark);
        margin-top: 0.4rem;        
    }

    .forget_password_container .forget_password_main form .p1 a {
        font-weight: 700;
        color: var(--primary-color);
        transition: 0.3s ease;
        text-decoration: none;
    }

    .forget_password_container .forget_password_main form .p1 a:hover {
        text-decoration: underline;
    }

    .forget_password_container .forget_password_main form .reset_box {
        margin-top: 1.5rem;
    }

    .forget_password_container .forget_password_main form .reset_box .reset_btn {
        font-size: 1rem;
        font-weight: 700;
        line-height: 17.42px;
        letter-spacing: 0.30000001192092896px;
        background: var(--primary-color);
        color: var(--white-color);
        width: fit-content;
        cursor: pointer;
        border: none;
        padding: 0.6rem 1.8rem;
        border-radius: var(--border-radius-0-4);
        transition: var(--transition-200);
    }

    .forget_password_container .forget_password_main form .reset_box .reset_btn:hover {
        opacity: .8;
    }

   
}

@media (max-width: 426px) {
    .mobile_navbar_container .mobile_nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mobile_navbar_container .mobile_nav a .logo {
        width: 7rem;
    }

    .sign_in_container,
    .otp_container,
    .sign_up_container,
    .forget_password_container  {
        margin-top: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sign_in_container .sign_in_main,
    .otp_container .otp_main,
    .sign_up_container .sign_up_main,
    .forget_password_container .forget_password_main {
        width: 100%;
    }


    /*====== Reset Password ======*/
    .forget_password_container .forget_password_main .top_head h1 {
        font-size: 1.8rem;
    }

    .forget_password_container .forget_password_main .top_head p {
        font-size: 1.100rem;  
    }


}

@media (max-width: 320px) {
    .mobile_nav .Open_account_box a {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .sign_in_main .Sign-head h1 {
        font-size: 1.7rem;      
    }

    .sign_in_main .Sign-head p {
        font-size: 1rem;
        line-height: 19.6px;
    }

    .sign_in_main .input_wrapper .input_box input,
    .sign_in_main .input_wrapper2 .input_box input {
        font-size: 1rem;
    }

    .sign_in_main .input_wrapper .input_box input::placeholder,
    .sign_in_main .input_wrapper2 .input_box input::placeholder {
        font-size: 0.9rem;
        line-height: 19.6px;
    }

    .sign_in_main .input_wrapper2 .eye_box svg {
        width: 1.3rem;
    }

    .sign_in_main form .forget_p,
    .sign_in_main form .forget_p a {
        font-size: 0.875rem;
    }



    /*----- otp -----*/
    .otp_container .otp_main .top_head h1 {
        font-size: 1.5rem;
        line-height: 34.84px;
    }

    .otp_container .otp_main .top_head p {
        font-size: 1rem;
    }

    .otp_container .otp_main form .otp_box {
        gap: 0.5rem;
        justify-content: center;
    }



    /*====== Sign up ======*/
    .sign_up_container .sign_up_main .head h1 {
        font-size: 1.8rem;
    }

    .sign_up_container .sign_up_main .head p {
        font-size: 0.9rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .input_box input {
        font-size: 1rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .input_box input::placeholder {
        font-size: 0.9rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .p1 {
        font-size: 0.9rem;
        line-height: 21px;
    }

    .sign_up_container .sign_up_main form .input_wrapper .select_box select {
        font-size: 1rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .p2  {
        font-size: 0.9rem;    
    }
    
    .sign_up_container .sign_up_main form .input_wrapper .sign_up_btn {
        font-size: 0.940rem;
    }

    .sign_up_container .sign_up_main form .input_wrapper .p3 {
        font-size: 0.9rem;
    }


    
    /*====== Reset Password ======*/
    .forget_password_container .forget_password_main .top_head h1 {
        font-size: 1.5rem;
    }

    .forget_password_container .forget_password_main .top_head p {
        font-size: 1rem;   
    }

    .forget_password_container .forget_password_main form .input_box label {
        font-size: 1rem;
    }

    .forget_password_container .forget_password_main form .input_box input {
        font-size: 1rem;
    }

    .forget_password_container .forget_password_main form .p1 {
        font-size: 0.875rem; 
    }



}








